---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%Y-%m-%d" }}</time>
    </p>
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p>
      {% for tag in page.tags %}
        <span class="label label-default">{{tag}}</span>
      {% endfor %}
    </p>
    <div class="social-buttons">
      <!-- Facebook -->
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=392239684455410";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
      <div class="fb-like" data-href="{{ site.url }}{{ page.url }}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
      <!-- Twitter -->
      <a class="twitter-share-button"
         href="https://twitter.com/share"
         data-size="small"
         data-text="{{ page.title | append: ' | yosuke.saito' }}"
         data-url="{{ site.url }}{{ page.url }}"
         data-lang="en">Tweet</a>
      <script>
       window.twttr = (function(d, s, id) {
         var js, fjs = d.getElementsByTagName(s)[0],
           t = window.twttr || {};
         if (d.getElementById(id)) return t;
         js = d.createElement(s);
         js.id = id;
         js.src = "https://platform.twitter.com/widgets.js";
         fjs.parentNode.insertBefore(js, fjs);

         t._e = [];
         t.ready = function(f) {
           t._e.push(f);
         };
         return t;
       }(document, "script", "twitter-wjs"));
      </script>
      <!-- Hatena -->
      <a href="http://b.hatena.ne.jp/entry/{{ site.url }}{{ page.url }}"
         class="hatena-bookmark-button"
         data-hatena-bookmark-title="{{ page.title | append: ' | yosuke.saito' }}"
         data-hatena-bookmark-layout="simple-balloon"
         title="このエントリーをはてなブックマークに追加">
        <img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a>
      <script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
    </div>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div class="page-navigation">
    {% if page.next.url %}
      <a class="next" href="{{page.next.url}}">&laquo; {{page.next.title}}</a>
    {% endif %}
    {% if page.previous.url %}
      <a class="prev" href="{{page.previous.url}}">{{page.previous.title}} &raquo;</a>
    {% endif %}
  </div>
</article>
